<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    {{{ body }}} {{!-- This is a hook, where actual content will be placed  its thing like these {{}}} boys that do the hookin--}}
</body>
</html>
{{!-- {{ This is handlebars, its a worse JADE, I don't like it }} --}}
{{!-- this is normal html with tag systems built in so actually I like it better than JADE--}}
