extends layout
// this file extends layout
  // block content tells where we want to insert information
block content
  h1= title
  p Welcome to #{title}

  // insert variables in normal text with #{VAR}
