doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
        // JADE is like a tmplating engine, you can build websites so you can manipukate things wiith JS
        //  It merges html style with JS\
       // you inject stuff by saying stuff like title = title (the title of the server would be what title(var) is set in a JS

